$P0: 1;
$P1: 0.618;
$P2: 0.382;

$front-lightness: 0;
$aria-hue: 210deg;

@function fs($f,$s){
    $ss: percentage(if($s>=0,$s,-$s));
    $shue: if($s>=0,$aria-hue,$aria-hue+180deg);
    $l: percentage(if($front-lightness>0.5, $f, 1-$f));
    @return hsl($shue,$ss,$l);
}

$aria-ui-base-color: fs(0.25,0.5);
$aria-ui-main-base-color : fs(0.382,1/3);

$aria-ui--1-base-color: fs(0.05,0.5);
$aria-ui--1n-base-color: fs(0.05,-0.5);

$aria-ui-0-base-color: fs(0.1,0.5);
$aria-ui-0-front-color: fs(0.8,0.5);
$aria-ui-0h-base-color: fs(0.05,0.5);
$aria-ui-0h-front-color: fs(0.9,0.5);
$aria-ui-0a-base-color: fs(0.1,-0.5);
$aria-ui-0a-front-color: fs(0.8,-0.5);
$aria-ui-0ah-front-color: fs(0.9,-0.5);

$aria-ui-1-base-color: fs(0.15,0.5);
$aria-ui-1-front-color: fs(0.7,0.5);
$aria-ui-1h-base-color: $aria-ui-0-base-color;
$aria-ui-1h-front-color: $aria-ui-0-front-color;
$aria-ui-1a-base-color: fs(0.15,-0.5);
$aria-ui-1n-front-color: fs(0.7,-0.5);

$aria-ui-2-base-color: fs(0.2,0.5);
$aria-ui-2-front-color: fs(0.6,0.5);

$aria-ui-link-color: $aria-ui-0-front-color;
$aria-content-link-color: fs(0.5,1);

$aria-primary-base-color: fs(0,0);
$aria-primary-front-color: fs(1,0);
$aria-primary-hover-base-color: fs(0.05,0.25);

$aria-placeholder-front-color: fs(0.5,0);

$aria-useraccountname-color: fs(0.7,0.75);
$aria-userdisplayname-color: fs(0.8,0.75);

$aria-ui-disable-color: fs(0.5,0);

// mastodon
$ui-base-color: $aria-ui-base-color;
$ui-primary-color: $aria-ui-0-base-color;
$ui-secondary-color: $aria-ui-1-base-color;
$ui-highlight-color: $aria-ui-0a-front-color;

// clickable mastodon func
//$ui-primary-base-color: #ccddee;
//$ui-primary-base-hover-color: #ddeeff;
//$ui-primary-color: #112233;
//$ui-primary-hover-color: #114477;
//$ui-primary-active-color: #af7f4f; // clickable mastodon func on active
//$ui-primary-active-hover-color: #dfaf7f;

//$ui-button-text-color: #ffffff;
//$ui-button-text-hover-color: #ffffff;
//$ui-button-base-color: $ui-primary-color;
//$ui-button-base-hover-color: $ui-primary-hover-color;

//$ui-secondary-color: #3377bb;      // not clickable mastodon func
//$ui-secondary-highlight-color: #0077ee;
//$ui-highlight-color: #113355;

//$ui-disable-color: #7f7f7f;

//$special-base-color: #fff7ef;
//$dialog-base-color: #ffffff;
//$content-base-color: #ffffff;
//$input-base-color: #ffffff;
//$input-color: #000000;
//$input-placeholder-color: #555555;

//$ui-link-color: #003366;
//$link-color: #1188ff;

@function shift-base($c,$p) {
    @return if($front-lightness>0.5,darken($c,$p),lighten($c,$p));
}

@function shift-front($c,$p) {
    @return if($front-lightness>0.5,lighten($c,$p),darken($c,$p));
}

$error-value-color: hsl(350deg,71.6%,50%);

@import 'application';
@import 'aria_mod_1.scss';
