// common component

.button {
    background: $ui-button-base-color;
    color: $ui-button-text-color;
    &:hover{
        background: $ui-button-base-hover-color;
        color: $ui-button-text-hover-color;
    }
}

//::-webkit-scrollbar-thumb {
//    background: #000000; // scroll bar color
//    &:hover{
//        background: #000000; // scroll bar color hover
//    }
//}
//
//::-webkit-scrollbar-track {
//    background: rgba(#ffffff,0.5); // scroll bar back
//    &:hover,&:active{
//        background: rgba(#ffffff,0.5); // scroll bar color hover
//    }
//}

input {
    color: $input-color;
    &::placeholder {
        color: $input-placeholder-color; // main page > left column > search > input place holder
    }
}

a {
    color: $link-color; 
}

// status focus
.focusable:focus {
    background: $ui-base-1-color;
}

// delete status dialog
.boost-modal, .confirmation-modal, .report-modal, .actions-modal, .mute-modal {
    background: $dialog-base-color;
    color: $primary-text-color;
}
.boost-modal__action-bar, .confirmation-modal__action-bar, .mute-modal__action-bar {
    background: $ui-primary-base-color;
}

// cancel btn
.confirmation-modal__action-bar .confirmation-modal__cancel-button, .confirmation-modal__action-bar .mute-modal__cancel-button, .mute-modal__action-bar .confirmation-modal__cancel-button, .mute-modal__action-bar .mute-modal__cancel-button
{
    color: $ui-primary-color;
    &:hover {
        background: $ui-primary-hover-color;
        color: $ui-button-text-hover-color;
    }
}

// big ui

body.app-body {
    background: $ui-base-color; // base background, appear b4 ui appear
}

.ui {
    background: $ui-back-color; // main background
}

// 

.drawer__header {
    background: $ui-primary-base-color; //  main page > left column > top background > non hover
}

.drawer__header a:hover {
    background: $ui-primary-base-hover-color; //  main page > left column > top background > hover
}

.drawer__tab {
    color: $ui-primary-color; // main page > left column > top icon
    &:hover {
        color: $ui-primary-hover-color; // main page > left column > top icon > hover
    }
}

// search box

.search__input {
    color: $input-color; // main page > left column > search > input
    background: $ui-base-0-color;
    &:focus {
        background: $input-base-color; // main page > left column > search > input > background
    }
}

.search__icon .fa {
    color: $ui-primary-color; // main page > left column > search > right icon
}

.search-popout {
    background: $dialog-base-color; // main page > left column > search > tips popup > background
    color: $ui-secondary-color; // main page > left column > search > tips popup > text
    h4 {
        color: $ui-secondary-color; // main page > left column > search > tips popup > header
    }
    em {
        color: $ui-secondary-highlight-color; // main page > left column > search > tips popup > text sample syntax
    }
}

// left stuff

.drawer__inner {
    background: $ui-base-0-color; // main 
}

// user icon and name

.navigation-bar strong {
    color: $username-color; // main page > left column > "@username"
    //&:hover {
    //    color: $username-hover-color; // main page > left column > "@username"
    //}
}

.navigation-bar a.navigation-bar__profile-edit {
    color: $ui-primary-color; // main page > left column > "Edit profile"
    &:hover {
        color: $ui-primary-hover-color;
    }
}

// click privacy > follower only to activate

.compose-form .compose-form__warning {
    background: $dialog-base-color; // main page > left column > toot input > follower only warning > background
    color: $ui-secondary-color; // main page > left column > toot input > follower only warning > text
    a {
        color: $link-color; // main page > left column > toot input > follower only warning > link
    }
}

// CW input

.compose-form .spoiler-input__input {
    color: $input-color; // main page > left column > toot input > CW input > input text
}

// reply box

.reply-indicator {
    background: $ui-base-color; // reply original msg background
}

.reply-indicator .display-name strong.display-name__html {
    color: $userdisplayname-color; // reply original msg user display name
}

.reply-indicator .display-name .display-name__account {
    color: $username-color; // reply original msg user acc name
}

.reply-indicator .reply-indicator__cancel .icon-button {
    color: $ui-primary-color; // reply cancel cross btn
    &:hover {
        color: $ui-primary-hover-color; // reply cancel cross btn hover
    }
}

.reply-indicator p {
    color: $primary-text-color; // reply original msg
}

// toot text input

.compose-form .autosuggest-textarea__textarea {
    background: $input-base-color; // main page > left column > toot input > main input > background
    color: $input-color; // main page > left column > toot input > main input > input text
    &::placeholder {
        color: $input-placeholder-color;
    }
}

// emoji

.emoji-mart-bar:first-child {
    background: $ui-base-0-color; // emoji cat-bar background
} 

.emoji-mart-anchors svg {
    color: $ui-primary-color; // emoji cat not selected
    &:hover {
        color: $ui-primary-hover-color;
    }
}

.emoji-mart-anchor-selected svg {
    color: $ui-primary-active-color; // emoji cat selected
    &:hover {
        color: $ui-primary-active-hover-color;
    }
}

.emoji-mart-anchor-bar {
    background: $ui-primary-active-color; // emoji cat selected bottom bar
}

.emoji-mart-bar {
    border-color: $ui-base-color; // emoji cat-bar/icon border
}

.emoji-mart-search {
    background: $dialog-base-color; // emoji search bar background
}

.emoji-mart-search input {
    background: $input-base-color; // emoji search box background
    color: $input-color; // emoji search box text
    border-color: $ui-base-color; // emoji search box border
}

.emoji-mart-category-label span {
    background: $dialog-base-color; // emoji category background
}

.emoji-mart {
    color: $ui-secondary-color; // emoji category title
}

.emoji-mart-scroll {
    background: $dialog-base-color; // emoji field background
}

.emoji-mart-category .emoji-mart-emoji:hover::before {
    background-color: $ui-primary-hover-color // emoji select bg
}

.emoji-picker-dropdown__menu {
    background: $dialog-base-color; // emoji bottom bar
}

// toot file upload

.compose-form .compose-form__modifiers {
    background: $input-base-color; // main page > left column > toot input > mid 0 bar
}

.upload-progress {
    color: $ui-secondary-color; // main page > left column > toot input > mid 0 bar > img upload > icon+text
    &__backdrop {
        background: $ui-base-color; // main page > left column > toot input > mid 0 bar > img upload > bar > background
    }
    &__tracker {
        background: $ui-secondary-color; // main page > left column > toot input > mid 0 bar > img upload > bar > progress
    }
}

.compose-form .compose-form__modifiers .compose-form__upload__actions {
    // main page > left column > toot input > mid 0 bar > img preview > action background
    background: linear-gradient(180deg, rgba($input-base-color, 0.8) 0, rgba($input-base-color, 0.35) 80%, transparent);
}

.compose-form .compose-form__modifiers .compose-form__upload__actions .icon-button {
    color: $ui-primary-color; // main page > left column > toot input > mid 0 bar > img preview > action icon+text
    &:hover, &:focus{
        color: $ui-primary-hover-color; // main page > left column > toot input > mid 0 bar > img preview > action icon+text > focus
    }
}

.compose-form .compose-form__modifiers .compose-form__upload-description {
    // main page > left column > toot input > mid 0 bar > img preview > description background
    background: linear-gradient(0deg, rgba($input-base-color, 0.8) 0, rgba($input-base-color, 0.35) 80%, transparent);
}

.compose-form .compose-form__modifiers .compose-form__upload-description input {
    color: $input-color; // main page > left column > toot input > mid 0 bar > img preview > description input
    &:focus{
        color: $input-color; // main page > left column > toot input > mid 0 bar > img preview > description input > focus
    }
    &::placeholder{
        opacity: 1;
        color: $input-placeholder-color; // main page > left column > toot input > mid 0 bar > img preview > description input > placeholder
    }
}

// toot function bar

.compose-form .compose-form__buttons-wrapper {
    background: $input-base-color; // main page > left column > toot input > mid 1 bar > background
}

.compose-form__buttons .icon-button.inverted {
    color: $ui-primary-color; // main page > left column > toot input > mid 1 bar > left btn
    &:hover{
        color: $ui-primary-hover-color; // main page > left column > toot input > mid 1 bar > left btn > hover
    }
}

.privacy-dropdown.active .privacy-dropdown__value,
.privacy-dropdown.active .privacy-dropdown__value.active {
    background: $input-base-color; // main page > left column > toot input > mid 1 bar > privacy btn > on menu show > background
}

.privacy-dropdown.active .privacy-dropdown__value .icon-button,
.privacy-dropdown.active .privacy-dropdown__value.active .icon-button {
    color: $ui-primary-active-color; // main page > left column > toot input > mid 1 bar > privacy btn > on menu show > icon
}

.privacy-dropdown__option {
    background: $input-base-color; // main page > left column > toot input > privacy menu > item > non-active non-hover > background
    color: $ui-primary-color; // main page > left column > toot input > privacy menu > item > non-active non-hover > icon
    .privacy-dropdown__option__content strong {
        color: $ui-primary-color; // main page > left column > toot input > privacy menu > item > non-active non-hover > title
    }
    .privacy-dropdown__option__content {
        color: $ui-primary-color; // main page > left column > toot input > privacy menu > item > non-active non-hover > text
    }
}

.privacy-dropdown__option:hover {
    background: $input-base-color; // main page > left column > toot input > privacy menu > item > non-active hover > background
    color: $ui-primary-hover-color; // main page > left column > toot input > privacy menu > item > non-active hover > icon
    .privacy-dropdown__option__content strong {
        color: $ui-primary-hover-color; // main page > left column > toot input > privacy menu > item > non-active hover > title
    }
    .privacy-dropdown__option__content {
        color: $ui-primary-hover-color; // main page > left column > toot input > privacy menu > item > non-active hover > text
    }
}

.privacy-dropdown__option.active {
    background: $input-base-color; // main page > left column > toot input > privacy menu > item > active non-hover > background
    color: $ui-primary-active-color; // main page > left column > toot input > privacy menu > item > active non-hover > icon
    .privacy-dropdown__option__content strong {
        color: $ui-primary-active-color; // main page > left column > toot input > privacy menu > item > active non-hover > title
    }
    .privacy-dropdown__option__content {
        color: $ui-primary-active-color; // main page > left column > toot input > privacy menu > item > active non-hover > text
    }
}

.privacy-dropdown__option.active:hover {
    background: $input-base-color; // main page > left column > toot input > privacy menu > item > active hover > background
    color: $ui-primary-active-hover-color; // main page > left column > toot input > privacy menu > item > active hover > icon
    .privacy-dropdown__option__content strong {
        color: $ui-primary-active-hover-color; // main page > left column > toot input > privacy menu > item > active hover > title
    }
    .privacy-dropdown__option__content {
        color: $ui-primary-active-hover-color; // main page > left column > toot input > privacy menu > item > active hover > text
    }
}

.compose-form__sensitive-button+.text-icon-button {
    color: $ui-primary-color; // main page > left column > toot input > CW > non active non hover
    &:hover, &:focus{
        color: $ui-primary-hover-color; // main page > left column > toot input > CW > non active hover
    }
}

.compose-form__sensitive-button+.text-icon-button.active {
    color: $ui-primary-active-color; // main page > left column > toot input > CW > active non hover
    &:hover, &:focus{
        color: $ui-primary-active-hover-color; // main page > left column > toot input > CW > active hover
    }
}

.compose-form .compose-form__buttons-wrapper .character-counter__wrapper .character-counter {
    color: $ui-secondary-color; // main page > left column > toot input > char quota
}

// left column bottom mastodon place

$drawer__inner__mastodon-base-color: $ui-base-0-color;
// $drawer__inner__mastodon-bottom-color: $ui-back-color;
.drawer__inner__mastodon {
    //background: $drawer__inner__mastodon-base-color url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 234.80078 31.757813" width="234.80078" height="31.757812"><path d="M19.599609 0c-1.05 0-2.10039.375-2.90039 1.125L0 16.925781v14.832031h234.80078V17.025391l-16.5-15.900391c-1.6-1.5-4.20078-1.5-5.80078 0l-13.80078 13.099609c-1.6 1.5-4.19883 1.5-5.79883 0L179.09961 1.125c-1.6-1.5-4.19883-1.5-5.79883 0L159.5 14.224609c-1.6 1.5-4.20078 1.5-5.80078 0L139.90039 1.125c-1.6-1.5-4.20078-1.5-5.80078 0l-13.79883 13.099609c-1.6 1.5-4.20078 1.5-5.80078 0L100.69922 1.125c-1.600001-1.5-4.198829-1.5-5.798829 0l-13.59961 13.099609c-1.6 1.5-4.200781 1.5-5.800781 0L61.699219 1.125c-1.6-1.5-4.198828-1.5-5.798828 0L42.099609 14.224609c-1.6 1.5-4.198828 1.5-5.798828 0L22.5 1.125C21.7.375 20.649609 0 19.599609 0z" fill="#{hex-color($drawer__inner__mastodon-bottom-color)}"/></svg>') no-repeat bottom / 100% auto;
    background: $drawer__inner__mastodon-base-color;
    & > img {
        // elephant display switch
        // display: block;
        display: none;
    }
}

// mid column

//.column-header {
//    background: $ui-secondary-color; // main page > mid+right column > top > background
//}

.column-header > button {
    color: $ui-secondary-color; // main page > mid+right column > top icon+text
}

.column-header__button {
    //background: #ffffff; // main page > mid+right column > top right pref icon > bg color
    color: $ui-primary-color; // main page > mid+right column > top right pref icon
    &:hover {
        //background: #ffffff; // main page > mid+right column > top right pref icon > hover > bg color
        color: $ui-primary-hover-color; // main page > mid+right column > top right pref icon > hover
    }
}
.column-header__button.active {
    //background: #ffffff; // main page > mid+right column > top right pref icon > clicked > bg color
    color: $ui-primary-active-color; // main page > mid+right column > top right pref icon > clicked
    &:hover {
        //background: #ffffff; // main page > mid+right column > top right pref icon > hover clicked > bg color
        color: $ui-primary-active-hover-color; // main page > mid+right column > top right pref icon > hover clicked
    }
}

.column-header__collapsible-inner {
    background: $dialog-base-color; // column pref > bg
}

.column-settings__section {
    color: $ui-secondary-color; // column pref > section title
}

.react-toggle-track {
    background-color: $ui-primary-color; // on off switch backdrop color, false, no hover
}
.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: $ui-primary-hover-color; // on off switch backdrop color, false, hover
}
.react-toggle--checked .react-toggle-track {
    background-color: $ui-primary-active-color; // on off switch backdrop color, true, no hover
}
.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: $ui-primary-active-hover-color; // on off switch backdrop color, true, hover
}

.react-toggle-track-check path {
    fill: $dialog-base-color; // on off switch true tick icon color
}
.react-toggle-track-x path {
    fill: $dialog-base-color; // on off switch false cross icon color
}

.react-toggle-thumb {
    border-color: $ui-primary-color; // on off switch circle border color, false (thin)
    background-color: $dialog-base-color; // on off switch circle fill color, false
}

.react-toggle--checked .react-toggle-thumb {
    border-color: $ui-primary-active-color; // on off switch circle border color, true (thin)
    background-color: $dialog-base-color; // on off switch circle fill color, true
}

.setting-toggle__label {
    color: $ui-primary-color; // setting label
    &:hover {
        color: $ui-primary-hover-color; // setting label
    }
}

.setting-text {
    color: $input-color; // setting input text
    border-bottom-color: $input-color; // underline
    //&::placeholder {
    //    color: #000000;
    //}
    &:focus {
        color: $input-color; // setting input text > focus
        border-bottom-color: $input-color; // underline > focus
    }
}

.column-header__collapsible .text-btn.column-header__setting-btn {
    color: $ui-primary-color; // unpin btn txt
    &:focus, &:hover {
        color: $ui-primary-hover-color; // unpin btn txt > focus
    }
}

.column-header__collapsible .column-header__setting-arrows {
    color: $ui-primary-color; // arrow btn
    &:focus, &:hover {
        color: $ui-primary-hover-color; // arrow btn > focus
    }
}

// status

.status__prepend {
    color: $ui-secondary-color; // boost icon, text
}

.status__prepend .status__display-name strong {
    color: shift-base($userdisplayname-color, 38.2%); // booster name
}

.status__display-name {
    color: $username-color; // toot creator acc name
}

.status__display-name strong {
    color: $userdisplayname-color; // toot creater display name
}

.status__relative-time {
    color: $link-color; // toot time
}

.column > .scrollable {
    background: $ui-base-1-color; // status bg bg
}

article .status__wrapper {
    background: $content-base-color; // status bg
}

.status__content p {
    color: $primary-text-color; // status txt
}

.status__content__spoiler-link {
    color: $ui-primary-color;
}

.media-spoiler {
    background: $ui-base-0-color;
}

$status_action_bar_color: $ui-primary-color;
$status_action_bar_color_hover: $ui-primary-hover-color;
$status_action_bar_color_boosted: $ui-primary-active-color;
$status_action_bar_color_boosted_hover: $ui-primary-active-hover-color;
$status_action_bar_color_disabled: $ui-disable-color;
.status__action-bar .icon-button {
    color: $status_action_bar_color; // status action btn
    &:hover {
        color: $status_action_bar_color_hover; // status action btn hover
    }
}
button.icon-button i.fa-retweet {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#{hex-color($status_action_bar_color)}' stroke-width='0'/><path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#{hex-color($status_action_bar_color_boosted)}' stroke-width='0'/></svg>");
  &:hover {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#{hex-color($status_action_bar_color_hover)}' stroke-width='0'/><path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#{hex-color($status_action_bar_color_boosted_hover)}' stroke-width='0'/></svg>");
  }
}
button.icon-button.disabled i.fa-retweet {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='209'><path d='M4.97 3.16c-.1.03-.17.1-.22.18L.8 8.24c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77L5.5 3.35c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.02-2.4.02H7.1l2.32 2.85.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#{hex-color($status_action_bar_color_disabled)}' stroke-width='0'/><path d='M7.78 19.66c-.24.02-.44.25-.44.5v2.46h-.06c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v4.47c0 4.26-.56 3.62 3.65 3.62H8.5l-1.3-1.06c-.1-.08-.18-.2-.2-.3-.02-.17.06-.35.2-.45l1.33-1.1H7.28c-.44 0-.72-.3-.72-.7v-4.48c0-.44.28-.72.72-.72h.06v2.5c0 .38.54.63.82.38l4.9-3.93c.25-.18.25-.6 0-.78l-4.9-3.92c-.1-.1-.24-.14-.38-.12zm9.34 2.93c-.54-.02-1.3.02-2.4.02h-1.25l1.3 1.07c.1.07.18.2.2.33.02.16-.06.3-.2.4l-1.33 1.1h1.28c.42 0 .72.28.72.72v4.47c0 .42-.3.72-.72.72h-.1v-2.47c0-.3-.3-.53-.6-.47-.07 0-.14.05-.2.1l-4.9 3.93c-.26.18-.26.6 0 .78l4.9 3.92c.27.25.82 0 .8-.38v-2.5h.1c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.15.4-3.62-1.25-3.66zM10.34 38.66c-.24.02-.44.25-.43.5v2.47H7.3c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.47c0 3.66-.23 3.7 2.34 3.66l-1.34-1.1c-.1-.08-.18-.2-.2-.3 0-.17.07-.35.2-.45l1.96-1.6c-.03-.06-.04-.13-.04-.2v-4.48c0-.44.28-.72.72-.72H9.9v2.5c0 .36.5.6.8.38l4.93-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.08-.23-.13-.36-.12zm5.63 2.93l1.34 1.1c.1.07.18.2.2.33.02.16-.03.3-.16.4l-1.96 1.6c.02.07.06.13.06.22v4.47c0 .42-.3.72-.72.72h-2.66v-2.47c0-.3-.3-.53-.6-.47-.06.02-.12.05-.18.1l-4.94 3.93c-.24.18-.24.6 0 .78l4.94 3.92c.28.22.78-.02.78-.38v-2.5h2.66c4.27 0 3.65.67 3.65-3.62v-4.47c0-3.66.34-3.7-2.4-3.66zM13.06 57.66c-.23.03-.4.26-.4.5v2.47H7.28c-1.08 0-1.86-.04-2.4-.04-1.64 0-1.25.43-1.25 3.65v4.87l2.93-2.37v-2.5c0-.44.28-.72.72-.72h5.38v2.5c0 .36.5.6.78.38l4.94-3.93c.24-.18.24-.6 0-.78l-4.94-3.92c-.1-.1-.24-.14-.38-.12zm5.3 6.15l-2.92 2.4v2.52c0 .42-.3.72-.72.72h-5.4v-2.47c0-.3-.32-.53-.6-.47-.07.02-.13.05-.2.1L3.6 70.52c-.25.18-.25.6 0 .78l4.93 3.92c.28.22.78-.02.78-.38v-2.5h5.42c4.27 0 3.65.67 3.65-3.62v-4.47-.44zM19.25 78.8c-.1.03-.2.1-.28.17l-.9.9c-.44-.3-1.36-.25-3.35-.25H7.28c-1.08 0-1.86-.03-2.4-.03-1.64 0-1.25.43-1.25 3.65v.7l2.93.3v-1c0-.44.28-.72.72-.72h7.44c.2 0 .37.08.5.2l-1.8 1.8c-.25.26-.08.76.27.8l6.27.7c.28.03.56-.25.53-.53l-.7-6.25c0-.27-.3-.48-.55-.44zm-17.2 6.1c-.2.07-.36.3-.33.54l.7 6.25c.02.36.58.55.83.27l.8-.8c.02 0 .04-.02.04 0 .46.24 1.37.17 3.18.17h7.44c4.27 0 3.65.67 3.65-3.62v-.75l-2.93-.3v1.05c0 .42-.3.72-.72.72H7.28c-.15 0-.3-.03-.4-.1L8.8 86.4c.3-.24.1-.8-.27-.84l-6.28-.65h-.2zM4.88 98.6c-1.33 0-1.34.48-1.3 2.3l1.14-1.37c.08-.1.22-.17.34-.2.16 0 .34.08.44.2l1.66 2.03c.04 0 .07-.03.12-.03h7.44c.34 0 .57.2.65.5h-2.43c-.34.05-.53.52-.3.78l3.92 4.95c.18.24.6.24.78 0l3.94-4.94c.22-.27-.02-.76-.37-.77H18.4c.02-3.9.6-3.4-3.66-3.4H7.28c-1.08 0-1.86-.04-2.4-.04zm.15 2.46c-.1.03-.2.1-.28.2l-3.94 4.9c-.2.28.03.77.4.78H3.6c-.02 3.94-.45 3.4 3.66 3.4h7.44c3.65 0 3.74.3 3.7-2.25l-1.1 1.34c-.1.1-.2.17-.32.2-.16 0-.34-.08-.44-.2l-1.65-2.03c-.06.02-.1.04-.18.04H7.28c-.35 0-.57-.2-.66-.5h2.44c.37 0 .63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.23-.47-.2zM4.88 117.6c-1.16 0-1.3.3-1.3 1.56l1.14-1.38c.08-.1.22-.14.34-.16.16 0 .34.04.44.16l2.22 2.75h7c.42 0 .72.28.72.72v.53h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-.53c0-4.2.72-3.63-3.66-3.63H7.28c-1.08 0-1.86-.03-2.4-.03zm.1 1.74c-.1.03-.17.1-.23.16L.8 124.44c-.2.28.03.77.4.78H3.6v.5c0 4.26-.55 3.62 3.66 3.62h7.44c1.03 0 1.74.02 2.28 0-.16.02-.34-.03-.44-.15l-2.22-2.76H7.28c-.44 0-.72-.3-.72-.72v-.5h2.5c.37.02.63-.5.4-.78L5.5 119.5c-.12-.15-.34-.22-.53-.16zm12.02 10c1.2-.02 1.4-.25 1.4-1.53l-1.1 1.36c-.07.1-.17.17-.3.18zM5.94 136.6l2.37 2.93h6.42c.42 0 .72.28.72.72v1.25h-2.6c-.3.1-.43.54-.2.78l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.25c0-4.2.72-3.63-3.66-3.63H7.28c-.6 0-.92-.02-1.34-.03zm-1.72.06c-.4.08-.54.3-.6.75l.6-.74zm.84.93c-.12 0-.24.08-.3.18l-3.95 4.9c-.24.3 0 .83.4.82H3.6v1.22c0 4.26-.55 3.62 3.66 3.62h7.44c.63 0 .97.02 1.4.03l-2.37-2.93H7.28c-.44 0-.72-.3-.72-.72v-1.22h2.5c.4.04.67-.53.4-.8l-3.96-4.92c-.1-.13-.27-.2-.44-.2zm13.28 10.03l-.56.7c.36-.07.5-.3.56-.7zM17.13 155.6c-.55-.02-1.32.03-2.4.03h-8.2l2.38 2.9h5.82c.42 0 .72.28.72.72v1.97H12.9c-.32.06-.48.52-.28.78l3.94 4.94c.2.23.6.22.78-.03l3.94-4.9c.22-.28-.02-.77-.37-.78H18.4v-1.97c0-3.15.4-3.62-1.25-3.66zm-12.1.28c-.1.02-.2.1-.28.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v1.96c0 4.26-.55 3.62 3.66 3.62h8.24l-2.36-2.9H7.28c-.44 0-.72-.3-.72-.72v-1.97h2.5c.37.02.63-.5.4-.78l-3.96-4.9c-.1-.15-.3-.22-.47-.2zM5.13 174.5c-.15 0-.3.07-.38.2L.8 179.6c-.24.27 0 .82.4.8H3.6v2.32c0 4.26-.55 3.62 3.66 3.62h7.94l-2.35-2.9h-5.6c-.43 0-.7-.3-.7-.72v-2.3h2.5c.38.03.66-.54.4-.83l-3.97-4.9c-.1-.13-.23-.2-.38-.2zm12 .1c-.55-.02-1.32.03-2.4.03H6.83l2.35 2.9h5.52c.42 0 .72.28.72.72v2.34h-2.6c-.3.1-.43.53-.2.78l3.92 4.9c.18.24.6.24.78 0l3.94-4.9c.22-.3-.02-.78-.37-.8H18.4v-2.33c0-3.15.4-3.62-1.25-3.66zM4.97 193.16c-.1.03-.17.1-.22.18l-3.94 4.9c-.2.3.03.78.4.8H3.6v2.68c0 4.26-.55 3.62 3.66 3.62h7.66l-2.3-2.84c-.03-.02-.03-.04-.05-.06H7.27c-.44 0-.72-.3-.72-.72v-2.7h2.5c.37.03.63-.48.4-.77l-3.96-4.9c-.12-.17-.34-.25-.53-.2zm12.16.43c-.55-.02-1.32.03-2.4.03H7.1l2.32 2.84.03.06h5.25c.42 0 .72.28.72.72v2.7h-2.5c-.36.02-.56.54-.3.8l3.92 4.9c.18.25.6.25.78 0l3.94-4.9c.26-.28 0-.83-.37-.8H18.4v-2.7c0-3.15.4-3.62-1.25-3.66z' fill='#{hex-color($status_action_bar_color_disabled)}' stroke-width='0'/></svg>");
}

.star-icon.active {
    color: $ui-primary-active-color;
    &:hover {
        color: $ui-primary-active-hover-color;
    }
}

.dropdown-menu__arrow.bottom {
    border-bottom-color: $ui-primary-base-color; // status bar menu top arrow
}
.dropdown-menu {
    background: $ui-primary-base-color; // status bar menu bg
}

.dropdown-menu__item a {
    background: $ui-primary-base-color; // status bar menu item bg
    color: $ui-primary-color; // status bar menu item txt
    &:hover {
        background: $ui-primary-base-hover-color; // status bar menu item bg
        color: $ui-primary-hover-color; // status bar menu item txt
    }
}
.dropdown-menu__separator {
    border-bottom-color: $ui-secondary-color; // status bar menu separator
}

.load-more {
    color: $ui-primary-color; // "load more" status text
}
.load-more:hover {
    color: $ui-primary-hover-color;
    background: $ui-primary-base-hover-color;
}

.empty-column-indicator, .error-column {
    background-color: $content-base-color;
    color: $ui-secondary-color;
}

.empty-column-indicator a {
    color: $ui-primary-color;
    &:hover {
        color: $ui-primary-hover-color;
    }
}

// right column menu

.column-subheading {
    color: $ui-secondary-color; // main page > right column > sub-session title text
}

.column-link {
    color: $ui-primary-color; // main page > right column > item icon+text
    &:hover {
        color: $ui-primary-hover-color; // main page > right column > item icon+text > hover
    }
}

.getting-started p {
    color: $ui-secondary-color; // main page > right column > bottom description normal text
}

.getting-started a {
    color: $link-color; // main page > right column > bottom description link text
}

// right column status

.account__header > div {
    background: rgba($ui-base-0-color,0.9);
}

.detailed-status {
    background: $content-base-color;
}

.detailed-status__display-name {
    color: $username-color;
    //&:hover {
    //    color: $username-hover-color;
    //}
}

.detailed-status__display-name strong {
    color: $userdisplayname-color;
}

.detailed-status__action-bar {
    background: $content-base-color;
}

.icon-button {
    color: $ui-primary-color;
}

.icon-button:active, .icon-button:focus, .icon-button:hover {
    color: $ui-primary-color;
    &:hover {
        color: $ui-primary-hover-color;
    }
}

.detailed-status__meta,
.detailed-status__application,
.detailed-status__datetime
{
    color: $ui-secondary-color;
}

a.detailed-status__datetime {
    color: $link-color;
}

.account__section-headline {
    background: $ui-base-0-color;
}

.account-gallery__item a {
    background: $ui-base-0-color; // spoiler preview
}

.followers .account {
    background: $content-base-color;
}
