@import 'column_width_mod';

// $base-shadow-color: $black !default;
// $base-overlay-background: $black !default;
// $base-border-color: $white !default;
// $simple-background-color: $white !default;
$primary-text-color: #00ffff !default;
// $valid-value-color: $success-green !default;
// $error-value-color: $error-red !default;

$ui-base-color: #ffff00;
$ui-base-lighter-color: #ff00ff;
$ui-primary-color: #ff0000;
$ui-secondary-color: #00ff00;
$ui-highlight-color: #0000ff;

@import 'application';
